@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Custom class untuk rotasi pelan piringan musik */
.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}